[user]
  name  = Robert James Hernandez
  email = rob@sarcasticadmin.com
[core]
  editor = vim
  pager  = less -R
[advice]
  pushNonFastForward = false
[stash]
  showPatch = true
[diff]
  tool = icdiff
  renameLimit = 9999
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = icdiff --line-numbers $LOCAL $REMOTE
[alias]
  stats   = shortlog -sn --all --no-merges
  recap   = log --all --oneline --no-merges --author=rob@sarcasticadmin.com
  recent  = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
  today   = log --since=00:00:00 --all --no-merges --oneline --author=rob@sarcasticadmin.com
  graph   = log --graph --all --decorate --stat --date=iso
  root    = rev-parse --show-toplevel
  ignore  = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
  stale  = "!f() { \
      remote=${1-upstream}; \
      git branch -r --merged $remote/master | grep $remote | grep -v '>' | grep -v master | xargs -L1 | cut -d\"/\" -f2-;\
    }; f"
  license = "!gl() { \
    if [ -z $@ ];then \
      curl -L -s https://api.github.com/licenses | jq -r '.[].key'; \
    else \
      curl -L -s https://api.github.com/licenses/$@ | jq -r '.body'; \
    fi;}; gl"
  churn   = "!gc() { \
    echo \"scale=2; $(git log --shortstat | awk '/files changed/ {total+=$4; total+=$6} END {print total}') / $(cloc . --json | jq -r '.SUM.code')\" | bc ; \
    }; gc"
  checkout-date = "!f() { git checkout -b rh/$(date +%s); }; f"
  checkout-prev = "checkout @{-1}"
  fixup = "!f() { \
      BRANCH=${1:-'master'}; \
      git reset --soft ${BRANCH} && git commit; \
    }; f"


[filter "lfs"]
  clean    = git-lfs clean -- %f
  smudge   = git-lfs smudge -- %f
  process  = git-lfs filter-process
  required = true

[include]
  path = ~/.gitconfig.d/hub
  path = ~/.gitconfig.d/99-work
