[submodule "vim/.vim/bundle/salt"]
	path = vim/.vim/bundle/salt
	url = https://github.com/saltstack/salt-vim.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim/.vim/bundle/markdown"]
	path = vim/.vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/.vim/bundle/terraform"]
	path = vim/.vim/bundle/terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "rbenv/.rbenv/plugins/ruby-build"]
	path = rbenv/.rbenv/plugins/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "rbenv/.rbenv/plugins/rbenv-binstubs"]
	path = rbenv/.rbenv/plugins/rbenv-binstubs
	url = https://github.com/ianheggie/rbenv-binstubs
[submodule "rbenv/.rbenv/plugins/rbenv-default-gems"]
	path = rbenv/.rbenv/plugins/rbenv-default-gems
	url = https://github.com/rbenv/rbenv-default-gems.git
[submodule "pyenv/.pyenv"]
	path = pyenv/.pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/bundle/vim-autopep8"]
	path = vim/.vim/bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
