[submodule "rbenv/.rbenv/plugins/ruby-build"]
	path = rbenv/.rbenv/plugins/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "rbenv/.rbenv/plugins/rbenv-binstubs"]
	path = rbenv/.rbenv/plugins/rbenv-binstubs
	url = https://github.com/ianheggie/rbenv-binstubs
[submodule "rbenv/.rbenv/plugins/rbenv-default-gems"]
	path = rbenv/.rbenv/plugins/rbenv-default-gems
	url = https://github.com/rbenv/rbenv-default-gems.git
[submodule "pyenv/.pyenv"]
	path = pyenv/.pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "vim/.vim/bundle/vim-autoformat"]
	path = vim/.vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
